.dnd-body {
  height     : 35px;
  box-sizing : content-box;
  padding-top: 5px;
  white-space: nowrap;
  overflow-x : scroll;
  overflow-y : hidden;
  font-size  : 0;

  .dnd-items {
    position        : relative;
    display         : inline-block;
    padding         : 10px 40px 5px 10px;
    font-size       : 12px;
    border          : 1px solid @border-color-split;
    border-radius   : 15px 15px 0 0;
    margin-right    : 2px;
    background-color: @body-background;
    box-sizing      : border-box;
    cursor          : pointer !important;
    color           : @text-color-secondary;
    vertical-align  : text-bottom;

    &.active {
      background-color: @component-background;
      color           : @heading-color;

      .anticon-close svg {
        color: @heading-color;
      }
    }

    &:focus {
      outline: unset;
    }


    .anticon-close {
      position: absolute;
      top     : 5px;
      right   : 5px;
      width   : 15px;
      height  : 15px;

      svg {
        width : inherit;
        height: inherit;
        color : @text-color-secondary;
      }
    }
  }
}