.drag-container {
  .title {
    margin     : 30px 20px 10px;
    font-size  : 16px;
    font-weight: bold;
  }

  .free-dnd-wrapper {
    width  : 600px;
    padding: 20px;
    border : 1px #e9e9e9 dashed;
  }

  .dnd-items {
    margin-bottom: 5px;
    background   : #e9e9e9;
    text-align   : center;
    height       : 50px;
    line-height  : 50px;
    font-size    : 16px;

    &.horizontal {
      height      : 100px;
      line-height : 100px;
      margin-right: 20px;
    }

    &.free {
      color       : #000;
      font-size   : 16px;
      width       : 100px;
      margin-right: 5px;
    }

    &:focus {
      outline: unset;
    }
  }
}